#app {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.center-form {
	width: 400px;
	margin-left: -200px;
	left: 50%;
	position: absolute;
	margin-top: 20px;
}

.login-form {
	margin-top: 20px;
}

.nav-group-item .icon {
	margin-top: 3px;
}

.document-item {
	float: left;
	width: 200px;
	height: 366px;
	margin: 20px;
	text-align: center;
	text-decoration: none !important;
}

.document-item small {
	color: #ccc;
}

.document-item-thumbnail {
	width: 200px;
	height: 300px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
	border: 1px #ededed solid;
}

.document-item-title {
	margin-top: 10px;
	color: black !important;
	text-decoration: none !important;
}

.search-bar > input[type="search"] {
	padding-top: 3px;
	margin: 1px 6px;

	outline: none;

	-webkit-appearance: none;

	border: 1px solid rgb(216, 214, 216);
	border-radius: 4px;
	background: #fdfdfd;
	background: -moz-linear-gradient(top, #fdfdfd 0%, #f1f1f1 100%);
	background: -webkit-linear-gradient(top, #fdfdfd 0%, #f1f1f1 100%);
	background: linear-gradient(to bottom, #fdfdfd 0%, #f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(
			startColorstr='#fdfdfd',
			endColorstr='#f1f1f1',
			GradientType=0
		);

	height: 19px;
	width: 300px;
}

.search-bar > input[type="search"]::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.35);
	text-align: center;
}

.search-bar > input[type="search"]:focus::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.35);
	text-align: left;
}

.search-bar > input[type="search"]:focus {
	background-color: white;
}
.search-bar > input[type="search"]:not(:placeholder-shown) {
	background-color: white;
} /* Needs to be a separate rule. See http://webkit.org/b/118162 */

.SimplePDF {
	width: 100%;
	height: 100%;
}

.form-detail-info {
	margin: 15px;
}

.form-detail-info label {
	font-weight: bold;
}

.icon-close-tab {
	z-index: 9999999;
	display: block;
}

.select-wrapper {
	width: 100%;
	display: inline-block;
}

/** SELECT2 OVERRIDE */
.select2-container--default .select2-selection--multiple {
	border: 1px solid #ddd;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color: #6db3fd;
	box-shadow: 3px 3px 0 #6db3fd, -3px -3px 0 #6db3fd, -3px 3px 0 #6db3fd,
		3px -3px 0 #6db3fd;
}

.select2-container--default .select2-container--below {
	width: none;
}

.btn {
	cursor: pointer;
}

.btn .icon {
	margin-right: 3px;
}

.btn-primary *,
.btn-negative * {
	color: white !important;
}

.text-bold {
	font-weight: bold;
}

.center-center {
	text-align: center;
}

.settings-pane {
	padding: 0 20px 20px 20px;
}

.settings-form {
	width: 350px;
}

.inplace-edit {
	width: 100%;
}

.load-more {
	float: left;
	display: block;
	width: 100%;
	margin: 40px 0;
	text-align: center;
	color: lightgrey;
}

.rbc-calendar {
	padding: 10px !important;
	width: 100% !important;
	height: calc(100% - 55px) !important;
}

.no-reminders {
	font-style: italic;
	color: lightgrey;
}

.spinner {
	margin: 100px auto;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
}

.spinner > div {
	background-color: #aaa;
	height: 100%;
	width: 6px;
	display: inline-block;

	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.4);
	}
	20% {
		-webkit-transform: scaleY(1.0);
	}
}

@keyframes sk-stretchdelay {
	0%,
	40%,
	100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

.text-positive {
	color: #34c84a;
}

.text-negative {
	color: #fb2f29;
}
