.sidebar {
	background-color: #ececec;
}

.sidebar > .menu {
	margin-left: 10px;
	margin-top: 10px;
}

.tabs-main-menu {
	margin-right: 20px;
	margin-bottom: 10px !important;
}

#navbar {
	padding: 10px;
	padding-bottom: 0px;
}

.document-columns {
	padding: 22px;
	padding-bottom: 0px;
}
