html,
body {
	height: 100%;
	overflow: auto;
}

#root {
	height: 100%;
}

#content {
	height: 100%;
}

.main-content {
	height: 100%;
}

.sidebar {
	background-color: #ececec;
	height: 100%;
}

.sidebar > .menu {
	margin-left: 10px;
	margin-top: 10px;
}

.sidebar-container {
	padding: 10px !important;
}

.document-columns {
	padding: 22px;
	padding-bottom: 0px;
}

.section {
	padding: 0 !important;
}

.container {
	margin-left: 10px !important;
	margin-right: 10px !important;
}
